# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Upload credit_card_transactions.csv to Colab

#from google.colab import files
#csv_file = files.upload()
from pathlib import Path

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("Resources/applicants_data.csv"))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS']

# Display the categorical variables list
applicant_data_df[categorical_variables]

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS
0,T10,Independent,C1000,ProductDev,Association,0,N
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N
...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,N
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,N
34296,T3,CompanySponsored,C2000,Preservation,Association,0,N
34297,T5,Independent,C3000,ProductDev,Association,0,N
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,N

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder()

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit(applicant_data_df[categorical_variables])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(enc.transform(applicant_data_df[categorical_variables]).toarray(), columns=enc.get_feature_names())

# Review the DataFrame
encoded_df.head()

,x0_T10,x0_T12,x0_T13,x0_T14,x0_T15,x0_T17,x0_T19,x0_T2,x0_T25,x0_T29,...,x5_1-9999,x5_10000-24999,x5_100000-499999,x5_10M-50M,x5_1M-5M,x5_25000-99999,x5_50M+,x5_5M-10M,x6_N,x6_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df[['STATUS','ASK_AMT','IS_SUCCESSFUL']], encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,x0_T10,x0_T12,x0_T13,x0_T14,x0_T15,x0_T17,x0_T19,...,x5_1-9999,x5_10000-24999,x5_100000-499999,x5_10M-50M,x5_1M-5M,x5_25000-99999,x5_50M+,x5_5M-10M,x6_N,x6_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL'].copy()

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,x0_T10,x0_T12,x0_T13,x0_T14,x0_T15,x0_T17,x0_T19,x0_T2,...,x5_1-9999,x5_10000-24999,x5_100000-499999,x5_10M-50M,x5_1M-5M,x5_25000-99999,x5_50M+,x5_5M-10M,x6_N,x6_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = X.shape[1]

# Review the number of features
number_input_features

116

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 116

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

116

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  116

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

116

In [19]:
# Create the Sequential model instance
nn = Sequential()

In [20]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

In [21]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="relu"))

In [23]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 116)               13572
_________________________________________________________________
dense_1 (Dense)              (None, 116)               13572
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 117
=================================================================
Total params: 27,261
Trainable params: 27,261
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
nn.compile(optimizer='adam', metrics=['accuracy'], loss='binary_crossentropy')

In [25]:
# Fit the model using 50 epochs and the training data
nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 1.2736 - accuracy: 0.6833
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0551 - accuracy: 0.7053
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9526 - accuracy: 0.7129
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9649 - accuracy: 0.7166
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9678 - accuracy: 0.7205
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9473 - accuracy: 0.7207
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9708 - accuracy: 0.7127
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9229 - accuracy: 0.7119
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9279 - accuracy: 0.7202
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7876 - accuracy: 0.7236
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7339 - accuracy: 0.7185
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7328 - accuracy: 0.7171
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6560 - accuracy: 0.7265
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6542 - accuracy: 0.7190
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6505 - accuracy: 0.7282
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6945 - accuracy: 0.7109
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6610 - accuracy: 0.7245
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6240 - accuracy: 0.7193
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6356 - accuracy: 0.7245
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6097 - accuracy: 0.7301
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6128 - accuracy: 0.7298
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5976 - accuracy: 0.7305
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5942 - accuracy: 0.7313
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6039 - accuracy: 0.7325
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6177 - accuracy: 0.7238
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6142 - accuracy: 0.7282
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6548 - accuracy: 0.7266
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7534 - accuracy: 0.7203
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7356 - accuracy: 0.7197
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6225 - accuracy: 0.7302
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6309 - accuracy: 0.7329
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6242 - accuracy: 0.7285
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6198 - accuracy: 0.7326
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6188 - accuracy: 0.7282
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6042 - accuracy: 0.7325
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6285 - accuracy: 0.7202
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6275 - accuracy: 0.7248
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6031 - accuracy: 0.7345
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6099 - accuracy: 0.7339
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6153 - accuracy: 0.7225
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6161 - accuracy: 0.7343
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6200 - accuracy: 0.7301
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6105 - accuracy: 0.7286
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6278 - accuracy: 0.7254
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6695 - accuracy: 0.7289
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6610 - accuracy: 0.7328
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6335 - accuracy: 0.7329
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6349 - accuracy: 0.7348
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6390 - accuracy: 0.7339
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6345 - accuracy: 0.7342

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 [==============================] - 0s 923us/step - loss: 0.6531 - accuracy: 0.7255
Loss: 0.6531049609184265, Accuracy: 0.7254810333251953

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [27]:
# Set the model's file path
file_path = Path('Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save_weights(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [28]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [29]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [30]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 200

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

200

In [31]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [32]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, activation="relu", input_dim=number_input_features))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="relu"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 200)               23400
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 201
=================================================================
Total params: 23,601
Trainable params: 23,601
Non-trainable params: 0
_________________________________________________________________

In [33]:
# Compile the Sequential model
nn_A1.compile(optimizer='adam', metrics=['accuracy'], loss='binary_crossentropy')

In [34]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 1.4483 - accuracy: 0.6855
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 1.3584 - accuracy: 0.7051
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 1.5212 - accuracy: 0.7035
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 2.0729 - accuracy: 0.6837
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 2.2645 - accuracy: 0.6721
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 2.4475 - accuracy: 0.6715
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 2.7953 - accuracy: 0.6606
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 2.4029 - accuracy: 0.6576
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 3.8276 - accuracy: 0.5925
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 4.7774 - accuracy: 0.5800
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 4.6855 - accuracy: 0.5844
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 4.6130 - accuracy: 0.5914
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 4.7887 - accuracy: 0.5891
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 4.5506 - accuracy: 0.6055
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 5.0390 - accuracy: 0.5761
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 5.4323 - accuracy: 0.5452
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 4.7532 - accuracy: 0.5792
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 4.7921 - accuracy: 0.5829
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 4.6877 - accuracy: 0.5881
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 4.3072 - accuracy: 0.6113
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 2.6621 - accuracy: 0.6876
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 2.3004 - accuracy: 0.6953
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 2.0596 - accuracy: 0.6739
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 1.9017 - accuracy: 0.6832
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 1.5502 - accuracy: 0.6801
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 1.4731 - accuracy: 0.6963
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 1.8242 - accuracy: 0.6806
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 1.8401 - accuracy: 0.6850
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 1.5654 - accuracy: 0.6958
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 1.7205 - accuracy: 0.6863
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 1.4138 - accuracy: 0.6974
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0265 - accuracy: 0.7185
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9498 - accuracy: 0.7264
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9529 - accuracy: 0.7259
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0329 - accuracy: 0.7080
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1372 - accuracy: 0.7147
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0003 - accuracy: 0.7165
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1261 - accuracy: 0.7131
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 1.3183 - accuracy: 0.7008: 0s - loss: 1.4056 - accura
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9126 - accuracy: 0.7212
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9246 - accuracy: 0.7163
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1491 - accuracy: 0.7001
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0168 - accuracy: 0.7203
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9812 - accuracy: 0.7222
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9393 - accuracy: 0.7240
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9392 - accuracy: 0.7238
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0358 - accuracy: 0.7124
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9696 - accuracy: 0.7159
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9407 - accuracy: 0.7218
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9095 - accuracy: 0.7249

#### Alternative Model 2

In [35]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [36]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [37]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 50

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

50

In [38]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [39]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, activation="relu", input_dim=number_input_features))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="relu"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 50)                5850
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 51
=================================================================
Total params: 5,901
Trainable params: 5,901
Non-trainable params: 0
_________________________________________________________________

In [40]:
# Compile the model
nn_A2.compile(optimizer='adam', metrics=['accuracy'], loss='binary_crossentropy')

In [41]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 1.6607 - accuracy: 0.6784
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 1.7240 - accuracy: 0.6610
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 2.5483 - accuracy: 0.6672
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 1.6050 - accuracy: 0.6692
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1833 - accuracy: 0.7063
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1884 - accuracy: 0.7097
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1975 - accuracy: 0.7163
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 1.2761 - accuracy: 0.7088
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 1.9205 - accuracy: 0.6868
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 1.8566 - accuracy: 0.6910
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 1.7532 - accuracy: 0.6701
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 1.7082 - accuracy: 0.6782: 0s - loss: 1.7307 - accuracy: 0.
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 1.6914 - accuracy: 0.6965
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 1.3732 - accuracy: 0.7065
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 1.4432 - accuracy: 0.6939
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 1.5713 - accuracy: 0.6941
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 1.4034 - accuracy: 0.6965
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 1.2526 - accuracy: 0.7095
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1577 - accuracy: 0.7215
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1758 - accuracy: 0.7140
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1027 - accuracy: 0.7193
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0767 - accuracy: 0.7220
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 1.3912 - accuracy: 0.6965
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 1.6669 - accuracy: 0.6882
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 1.6362 - accuracy: 0.6918
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 1.5330 - accuracy: 0.6923
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 1.4315 - accuracy: 0.6996
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 1.4173 - accuracy: 0.7007
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1523 - accuracy: 0.7156
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1780 - accuracy: 0.7127
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9325 - accuracy: 0.7194
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1256 - accuracy: 0.7063
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0289 - accuracy: 0.7145
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0907 - accuracy: 0.7057
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9402 - accuracy: 0.7164
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8149 - accuracy: 0.7239: 0s - loss: 0.853
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8581 - accuracy: 0.7188
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8745 - accuracy: 0.7236
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9905 - accuracy: 0.7140
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7995 - accuracy: 0.7184
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9016 - accuracy: 0.7156
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9349 - accuracy: 0.7211
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0155 - accuracy: 0.7131
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9623 - accuracy: 0.7200
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9352 - accuracy: 0.7172
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9843 - accuracy: 0.7168
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9592 - accuracy: 0.7234
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9559 - accuracy: 0.7240
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9648 - accuracy: 0.7226
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9687 - accuracy: 0.7193

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [42]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 [==============================] - 0s 938us/step - loss: 0.6531 - accuracy: 0.7255
Loss: 0.6531049609184265, Accuracy: 0.7254810333251953

In [43]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 [==============================] - 0s 857us/step - loss: 0.9384 - accuracy: 0.7200
Loss: 0.9383969902992249, Accuracy: 0.7200000286102295

In [44]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 [==============================] - 0s 847us/step - loss: 0.9625 - accuracy: 0.7226
Loss: 0.9624608159065247, Accuracy: 0.7225655913352966

### Step 3: Save each of your alternative models as an HDF5 file.

In [45]:
# Set the file path for the first alternative model
file_path = Path("Resources/AlphabetSoup_A1.h5")

# Export your model to a HDF5 file
nn_A1.save_weights(file_path)

In [46]:
# Set the file path for the second alternative model
file_path = Path("Resources/AlphabetSoup_A2.h5")

# Export your model to a HDF5 file
nn_A2.save_weights(file_path)