# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("Resources/applicants_data.csv"))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS']

# Display the categorical variables list
applicant_data_df[categorical_variables]

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS
0,T10,Independent,C1000,ProductDev,Association,0,N
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N
...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,N
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,N
34296,T3,CompanySponsored,C2000,Preservation,Association,0,N
34297,T5,Independent,C3000,ProductDev,Association,0,N
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,N

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder()

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(enc.transform(applicant_data_df[categorical_variables]).toarray(), columns=enc.get_feature_names())

# Review the DataFrame
encoded_df.head()

,x0_T10,x0_T12,x0_T13,x0_T14,x0_T15,x0_T17,x0_T19,x0_T2,x0_T25,x0_T29,...,x5_1-9999,x5_10000-24999,x5_100000-499999,x5_10M-50M,x5_1M-5M,x5_25000-99999,x5_50M+,x5_5M-10M,x6_N,x6_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df[['STATUS','ASK_AMT','IS_SUCCESSFUL']], encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,x0_T10,x0_T12,x0_T13,x0_T14,x0_T15,x0_T17,x0_T19,...,x5_1-9999,x5_10000-24999,x5_100000-499999,x5_10M-50M,x5_1M-5M,x5_25000-99999,x5_50M+,x5_5M-10M,x6_N,x6_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL'].copy()

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,x0_T10,x0_T12,x0_T13,x0_T14,x0_T15,x0_T17,x0_T19,x0_T2,...,x5_1-9999,x5_10000-24999,x5_100000-499999,x5_10M-50M,x5_1M-5M,x5_25000-99999,x5_50M+,x5_5M-10M,x6_N,x6_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = X.shape[1]

# Review the number of features
number_input_features

116

In [15]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 116

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

116

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  116

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

116

In [18]:
# Create the Sequential model instance
nn = Sequential()

In [19]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

In [20]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [21]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="relu"))

In [22]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 116)               13572
_________________________________________________________________
dense_1 (Dense)              (None, 116)               13572
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 117
=================================================================
Total params: 27,261
Trainable params: 27,261
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [23]:
# Compile the Sequential model
nn.compile(optimizer='adam', metrics=['accuracy'], loss='binary_crossentropy')

In [24]:
# Fit the model using 50 epochs and the training data
nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 1.3020 - accuracy: 0.6772
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0877 - accuracy: 0.6986
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 1.4634 - accuracy: 0.6901
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 1.3189 - accuracy: 0.7005
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 1.7578 - accuracy: 0.6754
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 1.3314 - accuracy: 0.6855
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1029 - accuracy: 0.7090
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0122 - accuracy: 0.7137
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0346 - accuracy: 0.7105
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1779 - accuracy: 0.6991
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 1.2967 - accuracy: 0.6980
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0893 - accuracy: 0.7111
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0719 - accuracy: 0.7137
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0923 - accuracy: 0.7087
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9259 - accuracy: 0.7163
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8679 - accuracy: 0.7233
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8490 - accuracy: 0.7247
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9976 - accuracy: 0.7138
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0009 - accuracy: 0.7131
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8871 - accuracy: 0.7264
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8618 - accuracy: 0.7264
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8596 - accuracy: 0.7248
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0612 - accuracy: 0.7072
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9453 - accuracy: 0.7233
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9133 - accuracy: 0.7248
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9239 - accuracy: 0.7221
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8825 - accuracy: 0.7283
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8585 - accuracy: 0.7286
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8776 - accuracy: 0.7252
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8759 - accuracy: 0.7280
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8713 - accuracy: 0.7287
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8421 - accuracy: 0.7264
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8201 - accuracy: 0.7256
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8393 - accuracy: 0.7295
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8492 - accuracy: 0.7265
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8406 - accuracy: 0.7238
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7944 - accuracy: 0.7301
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8076 - accuracy: 0.7284
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8040 - accuracy: 0.7287
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8280 - accuracy: 0.7305
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8027 - accuracy: 0.7294
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8082 - accuracy: 0.7320
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8207 - accuracy: 0.7193
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8272 - accuracy: 0.7314
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8114 - accuracy: 0.7317
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8041 - accuracy: 0.7301
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8067 - accuracy: 0.7318
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8168 - accuracy: 0.7322
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8115 - accuracy: 0.7331
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8185 - accuracy: 0.7294

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [25]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 [==============================] - 0s 669us/step - loss: 0.8685 - accuracy: 0.7259
Loss: 0.8684688210487366, Accuracy: 0.7259474992752075

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [26]:
# Set the model's file path
file_path = Path('Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save_weights(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [27]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [28]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [29]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 200

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

200

In [30]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [31]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, activation="relu", input_dim=number_input_features))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="relu"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 200)               23400
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 201
=================================================================
Total params: 23,601
Trainable params: 23,601
Non-trainable params: 0
_________________________________________________________________

In [32]:
# Compile the Sequential model
nn_A1.compile(optimizer='adam', metrics=['accuracy'], loss='binary_crossentropy')

In [33]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 872us/step - loss: 1.3168 - accuracy: 0.6856
Epoch 2/50
804/804 [==============================] - 1s 869us/step - loss: 1.5630 - accuracy: 0.6894
Epoch 3/50
804/804 [==============================] - 1s 891us/step - loss: 1.6475 - accuracy: 0.6970
Epoch 4/50
804/804 [==============================] - 1s 984us/step - loss: 1.8537 - accuracy: 0.6823
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 2.9716 - accuracy: 0.6515
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 3.0467 - accuracy: 0.6826
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 3.0045 - accuracy: 0.6847
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 2.7664 - accuracy: 0.7014
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 2.6551 - accuracy: 0.7102
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 2.6591 - accuracy: 0.7037
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 2.4494 - accuracy: 0.7117
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 3.2715 - accuracy: 0.7055
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 2.8264 - accuracy: 0.7123
Epoch 14/50
804/804 [==============================] - 1s 951us/step - loss: 2.6833 - accuracy: 0.7200
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 2.6246 - accuracy: 0.7153
Epoch 16/50
804/804 [==============================] - 1s 969us/step - loss: 2.6504 - accuracy: 0.7158
Epoch 17/50
804/804 [==============================] - 1s 932us/step - loss: 2.7283 - accuracy: 0.7100
Epoch 18/50
804/804 [==============================] - 1s 967us/step - loss: 3.9180 - accuracy: 0.6516
Epoch 19/50
804/804 [==============================] - 1s 966us/step - loss: 6.2452 - accuracy: 0.5598
Epoch 20/50
804/804 [==============================] - 1s 931us/step - loss: 6.8525 - accuracy: 0.5315
Epoch 21/50
804/804 [==============================] - 1s 923us/step - loss: 6.5449 - accuracy: 0.5483
Epoch 22/50
804/804 [==============================] - 1s 953us/step - loss: 6.4893 - accuracy: 0.5478
Epoch 23/50
804/804 [==============================] - 1s 924us/step - loss: 6.4567 - accuracy: 0.5460
Epoch 24/50
804/804 [==============================] - 1s 964us/step - loss: 6.4935 - accuracy: 0.5526
Epoch 25/50
804/804 [==============================] - 1s 972us/step - loss: 5.7143 - accuracy: 0.5752
Epoch 26/50
804/804 [==============================] - 1s 927us/step - loss: 5.2189 - accuracy: 0.5849
Epoch 27/50
804/804 [==============================] - 1s 911us/step - loss: 5.1263 - accuracy: 0.5884
Epoch 28/50
804/804 [==============================] - 1s 913us/step - loss: 5.1896 - accuracy: 0.5783
Epoch 29/50
804/804 [==============================] - 1s 965us/step - loss: 5.3046 - accuracy: 0.5553
Epoch 30/50
804/804 [==============================] - 1s 916us/step - loss: 3.3728 - accuracy: 0.6166
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 1.4292 - accuracy: 0.7074
Epoch 32/50
804/804 [==============================] - 1s 952us/step - loss: 1.3470 - accuracy: 0.7121
Epoch 33/50
804/804 [==============================] - 1s 918us/step - loss: 1.8841 - accuracy: 0.6686
Epoch 34/50
804/804 [==============================] - 1s 998us/step - loss: 4.8963 - accuracy: 0.5826
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 4.8966 - accuracy: 0.5872
Epoch 36/50
804/804 [==============================] - 1s 974us/step - loss: 4.8181 - accuracy: 0.5904
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 3.7117 - accuracy: 0.6013
Epoch 38/50
804/804 [==============================] - 1s 968us/step - loss: 1.7437 - accuracy: 0.6680
Epoch 39/50
804/804 [==============================] - 1s 872us/step - loss: 1.4559 - accuracy: 0.6912
Epoch 40/50
804/804 [==============================] - 1s 873us/step - loss: 1.3121 - accuracy: 0.6994
Epoch 41/50
804/804 [==============================] - 1s 877us/step - loss: 1.0424 - accuracy: 0.7151
Epoch 42/50
804/804 [==============================] - 1s 876us/step - loss: 0.9234 - accuracy: 0.7145
Epoch 43/50
804/804 [==============================] - 1s 904us/step - loss: 0.9016 - accuracy: 0.7278
Epoch 44/50
804/804 [==============================] - 1s 980us/step - loss: 0.9472 - accuracy: 0.7212
Epoch 45/50
804/804 [==============================] - 1s 928us/step - loss: 0.9034 - accuracy: 0.7259
Epoch 46/50
804/804 [==============================] - 1s 905us/step - loss: 0.8727 - accuracy: 0.7286
Epoch 47/50
804/804 [==============================] - 1s 871us/step - loss: 0.9211 - accuracy: 0.7224
Epoch 48/50
804/804 [==============================] - 1s 922us/step - loss: 0.9339 - accuracy: 0.7241
Epoch 49/50
804/804 [==============================] - 1s 919us/step - loss: 1.2946 - accuracy: 0.6948
Epoch 50/50
804/804 [==============================] - 1s 890us/step - loss: 1.2343 - accuracy: 0.6960

#### Alternative Model 2

In [34]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [35]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [36]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 50

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

50

In [37]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [38]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, activation="relu", input_dim=number_input_features))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="relu"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 50)                5850
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 51
=================================================================
Total params: 5,901
Trainable params: 5,901
Non-trainable params: 0
_________________________________________________________________

In [39]:
# Compile the model
nn_A2.compile(optimizer='adam', metrics=['accuracy'], loss='binary_crossentropy')

In [40]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 877us/step - loss: 1.9525 - accuracy: 0.6108
Epoch 2/50
804/804 [==============================] - 1s 821us/step - loss: 1.2515 - accuracy: 0.6884
Epoch 3/50
804/804 [==============================] - 1s 840us/step - loss: 1.2005 - accuracy: 0.6958
Epoch 4/50
804/804 [==============================] - 1s 837us/step - loss: 1.1298 - accuracy: 0.7096
Epoch 5/50
804/804 [==============================] - 1s 874us/step - loss: 1.3441 - accuracy: 0.6962
Epoch 6/50
804/804 [==============================] - 1s 835us/step - loss: 1.5500 - accuracy: 0.6878
Epoch 7/50
804/804 [==============================] - 1s 847us/step - loss: 2.7351 - accuracy: 0.6625
Epoch 8/50
804/804 [==============================] - 1s 905us/step - loss: 2.6376 - accuracy: 0.6705
Epoch 9/50
804/804 [==============================] - 1s 837us/step - loss: 2.2293 - accuracy: 0.6429
Epoch 10/50
804/804 [==============================] - 1s 851us/step - loss: 1.6863 - accuracy: 0.6626
Epoch 11/50
804/804 [==============================] - 1s 832us/step - loss: 1.3901 - accuracy: 0.6857
Epoch 12/50
804/804 [==============================] - 1s 863us/step - loss: 1.3327 - accuracy: 0.6904
Epoch 13/50
804/804 [==============================] - 1s 856us/step - loss: 1.3807 - accuracy: 0.6878
Epoch 14/50
804/804 [==============================] - 1s 846us/step - loss: 1.3527 - accuracy: 0.6906
Epoch 15/50
804/804 [==============================] - 1s 898us/step - loss: 1.6732 - accuracy: 0.6819
Epoch 16/50
804/804 [==============================] - 1s 849us/step - loss: 2.3301 - accuracy: 0.6526
Epoch 17/50
804/804 [==============================] - 1s 854us/step - loss: 2.2893 - accuracy: 0.6588
Epoch 18/50
804/804 [==============================] - 1s 840us/step - loss: 2.1711 - accuracy: 0.6624
Epoch 19/50
804/804 [==============================] - 1s 851us/step - loss: 1.7942 - accuracy: 0.6746
Epoch 20/50
804/804 [==============================] - 1s 877us/step - loss: 1.6138 - accuracy: 0.6805
Epoch 21/50
804/804 [==============================] - 1s 835us/step - loss: 1.9863 - accuracy: 0.6429
Epoch 22/50
804/804 [==============================] - 1s 918us/step - loss: 1.7227 - accuracy: 0.6817
Epoch 23/50
804/804 [==============================] - 1s 865us/step - loss: 1.3796 - accuracy: 0.6960
Epoch 24/50
804/804 [==============================] - 1s 856us/step - loss: 1.4013 - accuracy: 0.6972
Epoch 25/50
804/804 [==============================] - 1s 847us/step - loss: 1.3260 - accuracy: 0.6944
Epoch 26/50
804/804 [==============================] - 1s 835us/step - loss: 1.0001 - accuracy: 0.7063
Epoch 27/50
804/804 [==============================] - 1s 888us/step - loss: 1.0332 - accuracy: 0.7060
Epoch 28/50
804/804 [==============================] - 1s 843us/step - loss: 1.0054 - accuracy: 0.7115
Epoch 29/50
804/804 [==============================] - 1s 886us/step - loss: 1.2724 - accuracy: 0.6933
Epoch 30/50
804/804 [==============================] - 1s 889us/step - loss: 1.0981 - accuracy: 0.7048
Epoch 31/50
804/804 [==============================] - 1s 849us/step - loss: 0.9577 - accuracy: 0.7159
Epoch 32/50
804/804 [==============================] - 1s 840us/step - loss: 1.0819 - accuracy: 0.7011
Epoch 33/50
804/804 [==============================] - 1s 836us/step - loss: 1.0294 - accuracy: 0.7021
Epoch 34/50
804/804 [==============================] - 1s 895us/step - loss: 0.9018 - accuracy: 0.7147
Epoch 35/50
804/804 [==============================] - 1s 835us/step - loss: 0.9759 - accuracy: 0.6990
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8724 - accuracy: 0.7222
Epoch 37/50
804/804 [==============================] - 1s 898us/step - loss: 0.8254 - accuracy: 0.7201
Epoch 38/50
804/804 [==============================] - 1s 860us/step - loss: 0.8031 - accuracy: 0.7235
Epoch 39/50
804/804 [==============================] - 1s 903us/step - loss: 0.8087 - accuracy: 0.7132
Epoch 40/50
804/804 [==============================] - 1s 835us/step - loss: 0.7755 - accuracy: 0.7242
Epoch 41/50
804/804 [==============================] - 1s 891us/step - loss: 0.7772 - accuracy: 0.7243
Epoch 42/50
804/804 [==============================] - 1s 837us/step - loss: 0.7742 - accuracy: 0.7269
Epoch 43/50
804/804 [==============================] - 1s 881us/step - loss: 0.7728 - accuracy: 0.7196
Epoch 44/50
804/804 [==============================] - 1s 900us/step - loss: 0.7661 - accuracy: 0.7193
Epoch 45/50
804/804 [==============================] - 1s 848us/step - loss: 0.7695 - accuracy: 0.7246
Epoch 46/50
804/804 [==============================] - 1s 861us/step - loss: 0.8249 - accuracy: 0.7224
Epoch 47/50
804/804 [==============================] - 1s 837us/step - loss: 0.7477 - accuracy: 0.7190
Epoch 48/50
804/804 [==============================] - 1s 943us/step - loss: 0.7375 - accuracy: 0.7241
Epoch 49/50
804/804 [==============================] - 1s 839us/step - loss: 0.7336 - accuracy: 0.7242
Epoch 50/50
804/804 [==============================] - 1s 859us/step - loss: 0.9036 - accuracy: 0.6912

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [41]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 [==============================] - 0s 694us/step - loss: 0.8685 - accuracy: 0.7259
Loss: 0.8684688210487366, Accuracy: 0.7259474992752075

In [42]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 [==============================] - 0s 645us/step - loss: 1.3083 - accuracy: 0.6962
Loss: 1.3083291053771973, Accuracy: 0.6962099075317383

In [43]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 [==============================] - 0s 621us/step - loss: 0.7446 - accuracy: 0.7216
Loss: 0.7446334362030029, Accuracy: 0.7216326594352722

### Step 3: Save each of your alternative models as an HDF5 file.

In [44]:
# Set the file path for the first alternative model
file_path = Path("Resources/AlphabetSoup_A1.h5")

# Export your model to a HDF5 file
nn_A1.save_weights(file_path)

In [45]:
# Set the file path for the second alternative model
file_path = Path("Resources/AlphabetSoup_A2.h5")

# Export your model to a HDF5 file
nn_A2.save_weights(file_path)